* {
  padding: 0;
  margin: auto;
  font-family: "Mukta", sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  letter-spacing: 1px;
}

body {
  position: relative;
  height: 100vh;
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin: 2%;
  background: rgb(243, 243, 243);
}

header {
  width: 100%;
  padding-left: 15px;
  margin: 0;
}

.grid-container,
.card {
  display: flex;
}

.grid-container {
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  height: 90%;
}

.card {
  justify-content: flex-start;
  margin: 15px;
  border: solid 1px rgb(187, 185, 185);
  border-radius: 10px;
  flex-basis: 30%;
  flex-grow: 1;
  max-height: 20%;
  background: white;
}

.text-container {
  line-height: 1.4em;
}

.avatar {
  border-radius: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(41, 41, 41, 0.4);
}

.modal {
  width: 375px;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid #778;
  border-radius: 5px;
  padding: 30px 20px;
}

.modal-content {
  line-height: 2em;
}

.modal hr {
  margin: 9%;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
  background: white;
  border: none;
  font-weight: bold;
}

.hidden {
  display: none;
}

h1 {
  margin: 0;
  font-size: 1.5em;
  color: rgb(78, 78, 78);
  text-transform: uppercase;
}

p {
  font-size: 18px;
  color: grey;
}
